.greetBtn {
  background-image: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  outline: none;
}
